@import url('https://fonts.cdnfonts.com/css/just-another-hand');
@import url('https://fonts.cdnfonts.com/css/actor');

h1{
    font-family: 'Just another hand', sans-serif;
    text-align: center;
    color: #eb5f28                                     
}  

h2{
  font-family: 'Just another hand', sans-serif;
    text-align: center;
    color: #e08e23 
}

h3{
    font-family: 'Actor', sans-serif;
    text-align: center;
    color: #e08e23 
}

header {
  width: 100%;
  height: 37px;
  position: fixed;
  top: 0px;
  left: 0;
  right: 0;
  background: #eb5f28;
  text-align: center;    
  font-size: 2.9vw;
  font-family: 'Just another hand', sans-serif;
  
}

header .branco {
  color: #ffffff;
  font-size: 30px;
  position: fixed;
}

body{
    font-size: x-large;
    background-color: #ffffff;
    margin: 0;
}

p{
    margin-bottom: 8%;
    margin-left: 10%;
    margin-right: 10%;
    font-family: 'Actor', sans-serif;
}

div{
    width: 75%;
    padding: 5%;
    background-color: #e08e23;
    margin: 0 auto;
    border-radius: 15px;
    color: #ffffff;
    font-family: 'Actor', sans-serif;
}

.texto-centro{
    align-items: center;
}

ul {
  width: 60%;         
  margin: 0 auto;     
  text-align: center; 
  padding-left: 0;   
}
li {
  list-style-position: inside; 
}

ol {
  width: 60%;         
  margin: 0 auto;     
  text-align: center; 
  padding-left: 0;   
}
li {
  list-style-position: inside; 
}

.img-centro {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
}

table {
  margin-left: auto;
  margin-right: auto;
}

.inicio{
    width: 100%;
    height: 40%;
}